<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Poner el de la facu</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eaque et sapiente nisi expedita, explicabo, deserunt unde assumenda laboriosam nostrum sequi! Animi asperiores ex vel cumque, quam sint reprehenderit cupiditate.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/git.png" class="img-fluid img-proyecto">
        </div>

    </div>