<div class="row">
    <h1>Hard & Soft Skills</h1>
    <!--Círculo para HTML-->
    <div class="text-center col-sm-4 col-md-4 col-large-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500" 
    ></circle-progress>
    </div>
    <!--Círculo para CSS-->
    <div class="text-center col-sm-4 col-md-4 col-large-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500" 
    ></circle-progress>
    </div>
    <!--Círculo para JavaScript-->
    <div class="text-center col-sm-4 col-md-4 col-large-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500" 
    ></circle-progress>
    </div>
    <!--Círculo para GitHub-->
    <div class="text-center col-sm-4 col-md-4 col-large-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500" 
    ></circle-progress>
    </div>
    <!--Círculo para Inglés-->
    <div class="text-center col-sm-4 col-md-4 col-large-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500" 
    ></circle-progress>
    </div>
    <!--Círculo para Trabajo Colaborativo-->
    <div class="text-center col-sm-4 col-md-4 col-large-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [titleColor]="'pink'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500" 
    ></circle-progress>
    </div>
    
    
</div>