<div class = "row"> 
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div> <!--POR QUE NO SE AGREGA LA COLUMNA!-->
    <div class="col-lg-11">
        <ul> <!--Hacer lista no ordenada!-->
            <li> <!--Hacer items-->
                <h1>Trabajo 1</h1> - 
                <h3>years</h3></li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto dicta facere repellendus assumenda nisi distinctio illo pariatur inventore odio. Incidunt autem consectetur quos sequi, deleniti quidem facilis corporis expedita pariatur!</p>
        </ul>    
        <ul> <!--Hacer lista no ordenada!-->
            <li> <!--Hacer items-->
                <h1>Trabajo 2</h1> - 
                <h3>years</h3></li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto dicta facere repellendus assumenda nisi distinctio illo pariatur inventore odio. Incidunt autem consectetur quos sequi, deleniti quidem facilis corporis expedita pariatur!</p>
        </ul>  
        <ul> <!--Hacer lista no ordenada!-->
            <li> <!--Hacer items-->
                <h1>Trabajo 3</h1> - 
                <h3>years</h3></li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto dicta facere repellendus assumenda nisi distinctio illo pariatur inventore odio. Incidunt autem consectetur quos sequi, deleniti quidem facilis corporis expedita pariatur!</p>
        </ul>  
    </div>
</div>